.cards {
    width: 80vw;
    margin: 50px 20px 20px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px $black;
    width: 240px;
    height: 340px;
    // background: linear-gradient(180deg, hsla(33, 100%, 64%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:hover {
        transform: scale(1.05) !important;

        .card--image > img {
            animation: heartbeat 2000ms ease-in-out;
        }
    }
}

.card--header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    i {
        cursor: pointer;
        font-size: 16px;
        color: $black;
    
        &:hover {
            animation: jello 500ms ease-in-out !important;
        }
        
        &:active {
            transform: scale(1.3);
        }
        
    }
}

.card--title {
    position: relative;

    h1 {
        text-transform: capitalize;
        font-size: 20px;
        display: inline-block;
        margin: 0px 5px 0px 0px;
    }
}

.card--edit-name {
    position: fixed;
    top: -60px;
    left: -17px;


    form {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    input {
        font-family: 'Roboto Mono', monospace;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        border: 2px solid $black;
        background-color: lighten($sec, 20);
        box-shadow: 4px 4px $black;
        font-size: 15px;
        font-weight: 600;
        color: $black;
        padding: 5px 10px;
        outline: none;
    }
    
    input::placeholder {
        color: $dark-gray;
        opacity: 0.8;
    }
    
    input:focus {
        border: 2px solid $pri;
    }
    
    button:active, .button-confirm:active {
        box-shadow: 0px 0px $black;
        transform: translate(3px, 3px);
    }
    
    button {
        font-family: 'Roboto Mono', monospace;
        padding: 8px 12px;
        border-radius: 5px;
        border: 2px solid $black;
        background-color: $sec;
        box-shadow: 4px 4px $black;
        font-size: 17px;
        font-weight: 600;
        color: $black;
        cursor: pointer;
    } 
}

.card--hp {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}

.card--image {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    
    img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        transition: 500ms !important;
        z-index: 1;

        &:active {
            transform: scale(2);
        }
    }
}

.card--abilities {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;

    h3 {
        font-size: 16px;
        margin: 0;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        font-size: 14px;
        text-transform: capitalize;
        
    }
}

.card--type {
    position: fixed;
    bottom: 16px;
    left: 16px;
    
    
    .icon {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin:auto;
        transition: 200ms all;
    }
    
    .icon:hover{
        filter: saturate(200%);
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .icon img {
        height: 60%;
        width: 60%;
        margin: 20%;
    }
    
    .bug {
        background: #92BC2C;
        box-shadow: 0 0 20px #92BC2C;
    }
    
    .dark {
        background: #595761;
        box-shadow: 0 0 20px #595761;
    }
    
    .dragon {
        background: #0C69C8;
        box-shadow: 0 0 20px #0C69C8;
    }
    
    .electric {
        background: #F2D94E;
        box-shadow: 0 0 20px #F2D94E;
    }
    
    .fire {
        background: #FBA54C;
        box-shadow: 0 0 20px #FBA54C;
    }
    
    .fairy {
        background: #EE90E6;
        box-shadow: 0 0 20px #EE90E6;
    }
    
    .fighting {
        background: #D3425F;
        box-shadow: 0 0 20px #D3425F;
    }
    
    .flying {
        background: #A1BBEC;
        box-shadow: 0 0 20px #A1BBEC;
    }
    
    .ghost {
        background: #5F6DBC;
        box-shadow: 0 0 20px #5F6DBC;
    }
    
    .grass {
        background: #5FBD58;
        box-shadow: 0 0 20px #5FBD58;
    }
    
    .ground {
        background: #DA7C4D;
        box-shadow: 0 0 20px #DA7C4D;
    }
    
    .ice {
        background: #75D0C1;
        box-shadow: 0 0 20px #75D0C1;
    }
    
    .normal {
        background: #A0A29F;
        box-shadow: 0 0 20px #A0A29F;
    }
    
    .poison {
        background: #B763CF;
        box-shadow: 0 0 20px #B763CF;
    }
    
    .psychic {
        background: #FA8581;
        box-shadow: 0 0 20px #FA8581;
    }
    
    .rock {
        background: #C9BB8A;
        box-shadow: 0 0 20px #C9BB8A;
    }
    
    .steel {
        background: #5695A3;
        box-shadow: 0 0 20px #5695A3;
    }
    
    .water {
        background: #539DDF;
        box-shadow: 0 0 20px #539DDF;
    }
}

.card--btn {
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: 16px;
    
    &:hover {
        animation: jello 500ms ease-in-out;
    }
    
    &:active {
        transform: scale(1.3);
    }
    
    i {
        font-size: 22px;
        color: $black;
    }
}


// animations
@-webkit-keyframes jello {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.myPokemons {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPokemons--cards {
    width: 60vw;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transform: scale(0.8);
}

@media only screen and (max-width: 700px) {
    .myPokemons {
        margin: 0;

        h2 {
            margin-bottom: 0;
        }
    }

    .myPokemons--cards {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .cards {
        width: 100%;
        margin: 0;
        gap: 10px;
    }

    .card {
        width: 40vw;
        height: calc(40vw * 1.6);
    }

    .card--header {
        i {
            font-size: 14px;
        }
    }

    .card--title {
        h1 {
            font-size: 14px;
        }
    }

    .card--hp {
        font-size: 14px;
    }

    .card--image {
        height: 80px;
        padding: 0;
    }

    .card--abilities {
        h3 {
            font-size: 12px;
        }

        li {
            font-size: 10px;
        }
    }

    .card--type {
        .icon {
            width: 30px;
            height: 30px;
        }
    }

    .card--btn {
        i {
            font-size: 16px;
        }
    }
}