.cards {
    width: 80vw;
    margin: 50px 20px 20px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    box-shadow: 4px 4px $black;
    width: 240px;
    height: 340px;
    background: linear-gradient(180deg, hsla(33, 100%, 64%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:hover {
        transform: scale(1.05) !important;
    }
}

.card--header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card--title {
    text-transform: capitalize;
    font-size: 20px;
    display: inline-block;
    margin: 0;
}

.card--hp {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}

.card--image {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
    }
}

.card--abilities {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        font-size: 14px;
        text-transform: capitalize;

    }
}