.loader {
  width: 100px;
  margin: 80px;
  opacity: 0.3;
  
  -webkit-animation: rotate-center 1500ms linear infinite both;
  animation: rotate-center 1500ms linear infinite both;
}

// animations
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}