body {
    margin: 0px;
    background: linear-gradient(
    0deg, hsla(24, 94%, 59%, 1) 0%, 
    hsla(344, 98%, 59%, 1) 39%, 
    hsla(17, 95%, 61%, 1) 62%, 
    hsla(24, 94%, 59%, 1) 78%, 
    hsla(344, 98%, 59%, 1) 100%)
    ;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    height: 2px;
    width: 60vw;
    background: linear-gradient(
    90deg, hsla(344, 98%, 59%, 1) 8%, 
    hsla(24, 94%, 59%, 1) 23%, 
    hsla(16, 95%, 62%, 1) 34%, 
    hsla(350, 97%, 62%, 1) 41%, 
    hsla(357, 96%, 65%, 1) 56%, 
    hsla(17, 95%, 61%, 1) 63%, 
    hsla(24, 94%, 59%, 1) 79%, 
    hsla(344, 98%, 59%, 1) 89%)
    ;
    border-style: none;
}

.suspense-loading {
    width: 100px;
    margin: 80px;
    opacity: 0.3;
}

@media only screen and (max-width: 700px) {
    hr {
        width: 90vw;
    }
}
